<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,maximum-scale=1.0,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes" />
    <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />

   <!--
   <link rel="apple-touch-icon-precomposed" href="/Stay-Useful-72-icon.png" />
   <link rel="apple-touch-startup-image" href="/ipad_startup.png">
   -->

	<title>Site</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<!-- icon stuffs
		<link rel="icon" href="" type="image/x-icon">
		<link rel="shortcut icon" href="" type="image/x-icon">
	-->

	<!-- HTML5 fix for IE 6-8 -->
	<!--[if lt IE 9]>
	<script>
	  var e = ("abbr,article,aside,audio,canvas,datalist,details," +
	    "figure,footer,header,hgroup,mark,menu,meter,nav,output," +
	    "progress,section,time,video").split(',');
	  for (var i = 0; i < e.length; i++) {
	    document.createElement(e[i]);
	  }
	</script>
	<![endif]-->
	<link rel="stylesheet" type="text/css" href="{{STATIC_SERVER}}/css/styles.css" media="screen" />

   <script type="text/javascript" src="{{STATIC_SERVER}}/js/app.js"></script>
</head>
<body>

{{{body}}}

</body>
</html>
